<div class="row">
  <div class="col-3">
    <app-dashboard></app-dashboard>
  </div>
  <div class="col-9" style="margin-left: 250px;">

    <div class="container-xl px-4 mt-4">
      <div class="row">
          <div class="col-xl-4">
              <div class="card mb-4 mb-xl-0">
                  <div class="card-header">Profile Picture</div>
                  <div class="card-body text-center">
                      <img class="img-account-profile rounded-circle mb-2" src="https://www.pngkey.com/png/full/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png" alt="">
                      <input formControlName="ads" type="file" accept="image/gif, image/jpeg,image/png" required />
                      <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                  </div>
              </div>
          </div>
          <div class="col-xl-8">
              <div class="card mb-4">
                  <div class="card-header">Account Details</div>
                  <div class="card-body">
                          <div class="row gx-3 mb-3">
                              <div class="col-md-6">
                                  <label class="small mb-1" for="inputFirstName" >First name</label>
                                  <input [(ngModel)]="editedUserData.firstName" #name="ngModel" class="form-control" id="inputFirstName" type="text" placeholder="{{userData.firstName}}" [ngModelOptions]="{standalone: true}">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1" for="inputLastName">Last name</label>
                                  <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="Luna">
                              </div>
                          </div>
                          <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Position</label>
                            <input class="form-control" id="Position" type="text" placeholder="Enter your Position" value="Position">
                        </div>
                          <div class="row gx-3 mb-3">
                              <div class="col-md-6">
                                  <label class="small mb-1" for="inputOrgName">Department name</label>
                                  <input class="form-control" id="department" type="text" placeholder="Enter your department name" value="department">
                              </div>
                              <div class="col-md-6">
                                  <label class="small mb-1" for="inputLocation">Immediate Supervisor Name</label>
                                  <input class="form-control" id="supervisorName" type="text" placeholder="Enter your supervisor Name" value="">
                              </div>
                          </div>
                          <div class="mb-3">
                              <label class="small mb-1" for="inputEmailAddress">Email address</label>
                              <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="name@example.com">
                          </div>
                          <div class="row gx-3 mb-3">
                              <div class="col-md-6">
                                  <label class="small mb-1" for="inputPhone">Phone number</label>
                                  <input class="form-control" id="mobile" type="tel" placeholder="Enter your phone number" value="555-123-4567">
                              </div>
                          </div>
                          <button class="btn btn-primary" type="button">Save changes</button>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
