
<div class="row">
    <div class="col-3">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-9">
<br><br>
      <div class="container">
        <div class="list">
          <h3>NOTIFICATIONS</h3>
          <div class="list-item" *ngFor="let msg of notifications; let i=index">
            <div class="image-box">
              <img src="{{msg.user_image}}" alt="avatar">
            </div>
            <div class="content">
              <h2 class="rank"><small>#</small>{{i+1}}</h2>
              <h4>{{msg.username}}</h4>
              <p>{{message}} {{msg.status}}</p> 
              <p *ngIf="msg.isDriverAccepted" style="color: #fd00d7;">Driver : <b>{{msg.assignedDriver}}</b> is Assigned to your Trip</p> 
            </div>
          </div>
        </div>
      </div>
