<div class="row">
    <div class="col-3">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-9" style="margin-left: 250px;">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.motor1.com/images/mgl/X1ko9/s1/press-kit-22-fotos-y-mas-datos-de-la-nueva-ford-ecosport.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      

</div>
</div>
