<div class="row">
  <div class="col-3">
    <app-dashboard></app-dashboard>
  </div>
  <div class="col-9" style="margin-left: 250px;">

<div class="card-group">
  <div class="card" *ngFor="let v of vehicleList">
    <img src="https://cdn.motor1.com/images/mgl/X1ko9/s1/press-kit-22-fotos-y-mas-datos-de-la-nueva-ford-ecosport.jpg" class="card-img-top" alt="img">
    <div class="card-body" >
      <h4 class="card-title">{{v.type}}</h4>
      <h5 class="card-title">{{v.number}}</h5>
      <p class="card-text"> Dates Reserved:</p>
      <div class="list-group">
        <a *ngFor="let dates of v.reservedDates" class="list-group-item list-group-item-action list-group-item-primary">{{dates}}</a>
      </div>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


