

<div class="row">
    <div class="col-3">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-9">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Req Number</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col" colspan="2" style="float: right;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of searchedRequests;let i= index">
            <th scope="row">{{i+1}}</th>
            <td>{{u.status}}</td>
            <td><button class="btn btn-danger" routerLink="/view-request-details" (click)="getId(u._id)">Click to View</button></td>
            <td><button [disabled]="u.isDriverAccepted" class="btn btn-danger" (click)="approveRejectRequest(u._id, true,u.distance)">Accept</button></td>
            <td><button [disabled]="!u.isDriverAccepted" class="btn btn-light" (click)="approveRejectRequest(u._id, false,u.distance)">Reject</button></td>
          </tr>
        </tbody>
      </table>
      
