
<div class="row">
    <div class="col-3">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-9">
       
      <h3 style="color:red ;">Emergency</h3>  
     
    
   

     <div class ="card" style="margin-right: 30%;">
        <br>
        <h5 style="margin:10px ;">Hi Miss , Saduni</h5>
<div class="boxes">
 
    <h5>Type of Emergency </h5>
    <br>
    <input type="checkbox" id="box-1">
    <label for="box-1"><b>Dealy due to trafic</b></label>
  
    <input type="checkbox" id="box-2" >
    <label for="box-2"><b>Driver is late</b> </label>
  
    <input type="checkbox" id="box-3">
    <label for="box-3"><b>Dealy in meeting</b></label>

    <input type="checkbox" id="box-4" >
    <label for="box-4"><b>Task postpond</b> </label>
  
    <input type="checkbox" id="box-5">
    <label for="box-5"><b>Other</b></label>

    <textarea rows="3" cols="50" placeholder="Type here ...."></textarea>

    <br>
    <br>
    <h6>Please contact 0776340456 for any inquires/assistance.</h6>
  
    <br>
  <button type="button" style="margin-left: 40%;" class="btn btn-danger">Submit</button>

  </div>
