<div class="row">
  <div class="col-3">
    <app-dashboard></app-dashboard>
  </div>
  <div class="col-9">

    <h3 style="color:red ;">Emergency</h3>
    <br><br>
    <h4 style="color:rgb(13, 139, 22) ;">Hi , {{this.userData.username}}</h4>

    <div class="container">
      <h3>Type of Emergency:</h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ul>
          <li>
            <input type="radio" id="f-option" formControlName="message" name="message" value="Delay due to traffic">
            <label for="f-option">Delay due to traffic </label>

            <div class="check"></div>
          </li>

          <li>
            <input type="radio" id="s-option" value="Driver is late" formControlName="message" name="message">
            <label for="s-option">Driver is late</label>

            <div class="check">
              <div class="inside"></div>
            </div>
          </li>

          <li>
            <input type="radio" id="t-option" value="Delay in meetings" formControlName="message" name="message">
            <label for="t-option">Delay in meetings</label>

            <div class="check">
              <div class="inside"></div>
            </div>
          </li>

          <li>
            <input type="radio" id="q-option" value="Task postponed" formControlName="message" name="message">
            <label for="q-option">Task postponed</label>

            <div class="check">
              <div class="inside"></div>
            </div>
          </li>

          <div class="form-group">
            <li>
              <input type="radio" id="r-option" value="Other" formControlName="message" name="message">
              <label for="r-option">Other</label>

              <div class="check">
                <div class="inside"></div>
              </div>
            </li>
            <textarea class="form-control" rows="3" id="message" formControlName="message"
              placeholder="Type your emergency here..."></textarea>
          </div>
          <button class="btn btn-danger">Submit</button>
        </ul>
      </form>
    </div>
