<form id="main">
    <h2 class="log-in">Forget Password</h2>
    <br>
    <div class="input-parent">
        <label for="email" class="label">Email</label>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="email" [(ngModel)]="email.email">
    </div>
    <br>
    <div>
        <button type="submit" (click)="sendEmail()">Send Email</button>
    </div>
    <br>
    <div style="text-align: center; padding: 10px;">
        <label>Don't have an account yet? </label><a routerLink="/register" class="register">Register</a>
    </div>
  </form>