<body>
    <div></div>
    <div class="container">
        <div class="item-container">
            <h2 class="log-in">Forget Password</h2>
        </div>
        <form>
            <div class="form-input">
                <label for="email" class="label">Email</label>
                <input [(ngModel)]="email.email" [ngModelOptions]="{standalone: true}" type="text" >
            </div>
            <div>
                <button type="submit" (click)="sendEmail()">Send Email</button>
            </div>
        </form>
        <div style="text-align: center; padding: 10px;">
            <label>Don't have an account yet? </label><a routerLink="/register" class="register">Register</a>
        </div>
    </div>
</body>